.expenses {
  padding: 1rem;
  background-color: #5680cb;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
}

.no-expenses {
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
